

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <title>hello</title>
</head>

<body class="body">
<div id="app">

    <div class="center-container" >
        <el-col>
            <el-row>
                <el-form :rules="rules" ref="loginForm" :model="loginForm" class="loginContainer">
                    <h3 class="loginTitle">Sign in</h3>
                    <el-form-item prop="selectedUser" >
                        <el-select v-model="loginForm.selectedUser" placeholder="Select a user"
                                   @change="updatePassword" style="width: 350px;">
                            <el-option v-for="user in users" :key="user.username" :label="user.username"
                                       :value="user.username"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input type="password" v-model="loginForm.password"
                                  placeholder="Please enter the password"></el-input>
                    </el-form-item>
                    <el-form-item prop="code" label-width="0">
                        <div style="display: flex; align-items: center;">
                            <el-input type="text" auto-complete="false" v-model="loginForm.code"
                                      style="width: 250px;"></el-input>
                            <el-button type="text" @click="changeCaptcha" style="padding: 0; margin-left: 20px">
                                <canvas ref="captchaCanvas" width="80" height="40"
                                        style="border: 1px solid #a8a4a4; border-radius: 5px;"></canvas>
                            </el-button>
                        </div>
                    </el-form-item>
                    <el-checkbox v-model="checked" class="loginRemember">Remember Me</el-checkbox>
                    <el-button type="primary" style="width:100%" @click="submitLogin">Login</el-button>
                </el-form>
            </el-row>
            <el-row class="social-media-container">
                <div class="social-media-icons">
                    <a href="https://github.com/3checktheerror/spookify" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-github fa-bounce"></i>
                    </a>

                    <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
            </el-row>
        </el-col>
    </div>

</div>

<script>
    axios.defaults.withCredentials = true;
    new Vue({
        el: "#app",
        name: "Login",
        data() {
            return {
                captcha: null,
                users: [
                    {username: "admin", password: "123456", cId: "" },
                    {username: "Xu Zixiang", password: "123456", cId: ""},
                    {username: "Qiu Junyi", password: "123456", cId: ""},
                    {username: "Luo Xudong", password: "123456", cId: ""},
                    {username: "Liu Can", password: "123456", cId: ""},
                    {username: "Zhou Ziwei", password: "123456", cId: ""},
                    // Add more users as needed
                ],
                index: 0,
                loginForm: {
                    selectedUser: "admin",
                    password: "",
                    code: ""
                },
                checked: true,
                rules: {
                    username: [
                        {required: true, message: "Please enter the username", trigger: "blur"},
                        {
                            min: 5,
                            max: 14,
                            message: 'Length should be between 5 and 14 characters',
                            trigger: 'blur'
                        }
                    ],
                    password: [
                        {required: true, message: "Please enter the password", trigger: "blur"},
                        {
                            min: 6,
                            message: 'Password length must be greater than 6',
                            trigger: 'blur'
                        }
                    ],
                    code: [{required: true, message: "Please enter the verification code", trigger: "blur"}],
                }
            }
        },
        mounted() {
            this.generateCaptcha();
            this.updatePassword();
        },
        // created() {
        //     // 页面加载时检查 Session 和 Cookie 是否存在保存的密码
        //     const storedPassword = this.getPasswordFromSession();
        //     if (storedPassword) {
        //         this.loginForm.password = storedPassword;
        //     }
        // },
        methods: {

            // const sessionCookie = document.cookie.split('; ').find(row => row.startsWith('sessionCookie='));
            // getPasswordFromSession(name) {
            //     const cookies = document.cookie.split("; ");
            //     for (let i = 0; i < cookies.length; i++) {
            //         const cookie = cookies[i].split("=");
            //         if (cookie[0] === name) {
            //             return cookie[1];
            //         }
            //     }
            //     return null;
            // },
            submitLogin() {
                const selectedUser = this.users.find(user => user.username === this.loginForm.selectedUser);
                if (!selectedUser) {
                    this.$message.error('Invalid user selected');
                    return;
                }

                this.$refs.loginForm.validate((valid) => {
                    if (valid) {
                        if (this.loginForm.code === this.captcha.toString() && this.loginForm.password === selectedUser.password) {
                            alert('Login successful');
                            // localStorage.setItem('User ID', JSON.stringify({ ID: 'value' }));
                            this.SendtoBackend();
                            window.location.href = 'http://localhost:8082';
                        } else {
                            this.$message.error('Incorrect verification code or password. Please try again.');
                        }
                    } else {
                        this.$message.error('Login error, please enter again');
                    }
                });
            },
            SendtoBackend(){
                const postData = {
                    name:this.users[this.index].username,
                    password:this.users[this.index].password
                };
                console.log(postData);
                axios.post('/customer/login', postData,)
                    .then(response => {
                        console.log('Response from backend:', response.data);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            updatePassword() {
                const selectedUser = this.users.find(user => user.username === this.loginForm.selectedUser);
                if (selectedUser) {
                    this.loginForm.password = selectedUser.password;
                    this.index = this.users.indexOf(selectedUser);
                }
            },
            changeCaptcha() {
                this.generateCaptcha();
            },
            generateCaptcha() {
                const canvas = this.$refs.captchaCanvas;
                const context = canvas.getContext('2d');
                this.captcha = this.generateRandomCaptcha(1000, 9999);

                context.clearRect(0, 0, canvas.width, canvas.height);
                context.font = '20px Arial';
                context.fillText(this.captcha, 10, 30);
            },
            generateRandomCaptcha(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }

        }
    });
</script>

<style lang="scoped">
    .loginContainer {
        border-radius: 15px;
        background-clip: padding-box;
        text-align: left;
        margin: auto;
        margin-top: 60px;
        width: 350px;
        padding: 15px 35px 15px 35px;
        background: aliceblue;
        border: 1px solid blueviolet;
        box-shadow: 0 0 25px #f885ff;
    }

    .loginTitle {
        margin: 0px auto 48px auto;
        text-align: center;
        font-size: 30px;
    }

    .loginRemember {
        text-align: left;
        margin: 0px 0px 15px 0px;
    }

    .body {
        width: 100vw;
        height: 100vh;
        background-image: url("/images/login.png");
        background-size: cover;
        overflow: hidden;
    }



    .social-media-icons {
        display: flex;
        font-size: 30px;
        justify-content: space-between;
        width: 300px;
    }

    .social-media-icons a {
        background-color: #f0f0f0;
        text-decoration: none;
        color: #333;
        display: inline-block;
        padding: 10px;
        border: 2px solid #333;
        border-radius: 10px;
        transition: background-color 0.3s;
    }

    .social-media-icons a:hover {
        background-color: #333;
        color: #fff;
    }
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        min-height: 80vh;
    }
    .social-media-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

</style>


</body>
</html>

