<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.xmum.swe.dao.TestDao">

    <resultMap id="TestResultMap" type="com.xmum.swe.entities.DO.TestDO">
        <id column="num" property="number" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_age" property="userAge" jdbcType="INTEGER"/>
    </resultMap>

    <update id="updateInfo">
        UPDATE
            t_test
        SET user_age = user_age + 1
        WHERE user_name = #{userName}
        AND number = #{number}
    </update>

</mapper>



