<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">

    <title>ProductManager</title>
</head>
<body>
<div id="app">
    <el-container >
        <el-container >
            <el-header>
                <h2>Product Management System</h2>
            </el-header>
            <el-main>
                <!--表头的搜索栏和添加按钮-->
                <el-card class="card" style="width: 1325px; margin-left: 125px">
                        <el-row :gutter="20" style="margin-bottom: 10px">
                            <el-col :span="18">
                                <div class="group">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="icon"
                                         @click="filterItems">
                                        <g>
                                            <path
                                                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                                            ></path>
                                        </g>
                                    </svg>
                                    <input class="input"
                                            type="search"
                                            placeholder="Please enter ID or name (support fuzzy search)"
                                            v-model="queryInfo.query"
                                            @clear="getData"
                                            autocomplete="off"
                                    />
                                </div>
                            </el-col>
                            <el-col :span="5" :offset="1">
                                <div>
                                    <button class="btn" @click="addDialogVisible = true"
                                    >Add new item
                                    </button
                                    >
                                </div>
                            </el-col>
                        </el-row>

                    <!--主表单-->
                        <template>
                            <div>
                                <el-table class="table" stripe
                                          :data="responseData.slice((queryInfo.currentPage -1) * queryInfo.pageSize, queryInfo.pageSize * queryInfo.currentPage)"
                                          :default-sort="{prop: 'pId', order: 'descending'}">
                                    <el-table-column prop="pId" label="PID" width="120" sortable></el-table-column>
                                    <el-table-column prop="pName" label="Product Name" width="250" sortable></el-table-column>
                                    <el-table-column prop="price" label="Product Price" width="150" sortable>
                                    </el-table-column>
                                    <el-table-column prop="quantityInStock" label="Quantity in stock" width="170" >
                                    </el-table-column>
                                    <el-table-column prop="category" label="Category" width="140" sortable>
                                    </el-table-column>
                                    <el-table-column label="Actions" width="380">
                                        <template slot-scope="{ row }">
                                            <el-button type="text"
                                                       @click="viewDetail(row); detailInfoVisible = true"
                                                       style="font-size: 16px;">View
                                            </el-button>
                                            <el-button type="text" @click="deleteItem(row)"
                                                       style="font-size: 16px;">Delete
                                            </el-button>
                                            <el-button type="text"
                                                       @click="modifyItem(row) ; modifyDialogVisible = true"
                                                       style="font-size: 16px;">Modify
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </div>
                        </template>
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="queryInfo.currentPage"
                                :page-sizes="[1, 2, 5, 10]"
                                :page-size="queryInfo.pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                        >
                        </el-pagination>


                    </el-card>
                <!--增加表信息-->
                    <el-dialog
                            title="Add new item"
                            :visible.sync="addDialogVisible"
                            width="50%"
                    >
                    <el-form :model="addForm" ref="form" :rules="formRules" label-width="130px" style="padding-left: 30px; ">
                        <el-form-item label="Product Name" prop="Product_Name">
                            <el-input v-model="addForm.Product_Name"></el-input>
                        </el-form-item>
                        <el-form-item label="Category" prop="Category">
                            <el-select v-model="addForm.Category" placeholder="Select">
                                <el-option label="Shoes" value="Shoes"></el-option>
                                <el-option label="Apparel" value="Apparel"></el-option>
                                <el-option label="Pants" value="Pants"></el-option>
                                <el-option label="Accessories" value="Accessories"></el-option>
                                <el-option label="BasketBall" value="BasketBall"></el-option>
                                <el-option label="Run" value="Run"></el-option>
                                <el-option label="Football" value="Football"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="Manufacturer" prop="Manufacturer">
                            <el-select v-model="addForm.Manufacturer" placeholder="Select">
                                <el-option label="PUTIAN" value="PuTian"></el-option>
                                <el-option label="QUANZHOU" value="QuanZhou"></el-option>
                                <el-option label="BEIJING" value="BeiJing"></el-option>
                                <el-option label="SHANGHAI" value="ShangHai"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="Product Price" prop="Product_Price">
                            <el-input v-model="addForm.Product_Price" >
                            </el-input>
                        </el-form-item>
                        <el-form-item label="Quantity in stock" prop="Quantity_instock">
                            <el-input v-model.number="addForm.Quantity_instock"></el-input>
                        </el-form-item>
                        <el-form-item label="Description: " prop="Description: ">
                            <el-input type="textarea" v-model="addForm.Description "></el-input>
                        </el-form-item>
                    </el-form>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="closeDialog">Cancle</el-button>
                        <el-button type="primary" @click="validateAndSubmit()">Submit</el-button>
                    </span>
                    </el-dialog>
                 <!--成功创建显示-->
                    <el-dialog
                        title="Create Successful"
                        :visible.sync="successDialogVisible"
                        width="50%"
                    >
                    <p v-if="getResponse">Successfully submitted {{ getResponse }} form</p>
                    <div slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="closeSuccessDialog">OK</el-button>
                    </div>
                    </el-dialog>
                    <!--仔细查看某商品内容-->
                    <el-dialog
                        title="Item Detail"
                        :visible.sync="detailInfoVisible"
                        width="80%"
                    >
                    <el-descriptions title="Information" style="margin-top: 10px; margin-bottom: 10px;font-size: 20px;">
                        <el-descriptions-item label="PID">{{detailForm.pId}}</el-descriptions-item>
                        <el-descriptions-item label="Product Name">{{detailForm.pName}}</el-descriptions-item>
                        <el-descriptions-item label="Quantity in stock">{{ detailForm.quantityInStock }}</el-descriptions-item>
                        <el-descriptions-item label="Product Price">{{ detailForm.price }}</el-descriptions-item>
                        <el-descriptions-item label="Category">{{ parsedData.category }}</el-descriptions-item>
                        <el-descriptions-item label="Manufacturer">{{ detailForm.manufacturer }}</el-descriptions-item>
                    </el-descriptions>
                    <el-row>
                        <el-descriptions style="margin-top: 10px; margin-bottom: 10px;font-size: 20px;">
                            <el-descriptions-item label="Description">
                                <el-tag size="Description">{{ parsedData.description }}</el-tag>
                            </el-descriptions-item>
                        </el-descriptions>
                    </el-row>

                    <span slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="detailInfoVisible = false">OK</el-button>
                    </span>
                    </el-dialog>

                    <!--编辑表单-->
                    <el-dialog
                        title="Modify form"
                        :visible.sync="modifyDialogVisible"
                        width="50%"
                    >
                    <el-form :model="modifyForm" ref="newform" :rules="formRules" label-width="136px" >

                        <el-form-item label="Product Name" prop="pName" class="custom-form-item-label">
                            <el-card class="flex-container">
                                <div class="content-and-button">
                                    <span> The Original Product ( ID: {{modifyForm.PID}}) Name is: {{modifyForm.Product_Name}}</span>
                                    <button @click="showname = !showname; event.preventDefault();" class="comic-button" type="button" >Edit Name!</button>
                                </div>
                                <div v-if="showname" >
                                    <el-input v-model="modifyForm.pName" placeholder="Please Enter the Name you want"  ></el-input>
                                </div>
                            </el-card>
                        </el-form-item>

                        <el-form-item label="Product Price" prop="price" class="custom-form-item-label">
                            <el-card class="flex-container">
                                <div class="content-and-button">
                                    <span> The Original Product Price is: {{modifyForm.Product_Price}}</span>
                                    <button @click="showpr = !showpr; event.preventDefault();" class="comic-button"
                                            type="button">Edit Price!
                                    </button>
                                </div>
                                <div v-if="showpr">
                                    <el-input v-if="showpr" v-model="modifyForm.price"
                                              placeholder="Please Enter the Price you want"></el-input>
                                </div>
                            </el-card>
                        </el-form-item>

                        <el-form-item label="Quantity in stock" prop="quantityInStock" class="custom-form-item-label">
                            <el-card class="flex-container">
                                    <div class="content-and-button">
                                        <span> The Original quantity in stock for {{modifyForm.Product_Name}} is: {{modifyForm.Quantity_instock}}</span>
                                        <button @click="showquant = !showquant; event.preventDefault();" class="comic-button" type="button" >Edit Number!</button>
                                    </div>
                                    <div v-if="showquant" >
                                        <el-input v-model="modifyForm.quantityInStock" placeholder="Please, Enter the quantity number" ></el-input>
                                    </div>
                            </el-card>
                        </el-form-item>

                        <el-form-item label="Category" prop="category" class="custom-form-item-label">
                            <el-card class="flex-container">
                                    <div class="content-and-button">
                                        <span> The Original quantity in stock for {{modifyForm.Product_Name}} is: {{modifyForm.Category}}</span>
                                        <button @click="showcat = !showcat; event.preventDefault();" class="comic-button" type="button" >Edit Category!</button>
                                    </div>
                                    <div v-if="showcat">
                                    <el-select  v-model="modifyForm.category" >
                                        <el-option label="Shoes" value="Shoes"></el-option>
                                        <el-option label="Apparel" value="Apparel"></el-option>
                                        <el-option label="Pants" value="Pants"></el-option>
                                        <el-option label="Accessories" value="Accessories"></el-option>
                                        <el-option label="BasketBall" value="BasketBall"></el-option>
                                        <el-option label="Run" value="Run"></el-option>
                                        <el-option label="Football" value="Football"></el-option>
                                    </el-select>
                                    </div>
                            </el-card>
                        </el-form-item>

                        <el-form-item label="Manufacturer" prop="manufacturer" class="custom-form-item-label">
                            <el-card class="flex-container">
                                    <div class="content-and-button">
                                        <span> The Original quantity in stock for {{modifyForm.Product_Name}} is: {{modifyForm.Manufacturer}}</span>
                                        <button @click="showmanu = !showmanu; event.preventDefault();" class="comic-button" type="button" >Edit Manufacturer!</button>
                                    </div>
                                    <div v-if="showmanu">
                                        <el-select  v-model="modifyForm.manufacturer"  >
                                            <el-option label="PUTIAN" value="PuTian"></el-option>
                                            <el-option label="QUANZHOU" value="QuanZhou"></el-option>
                                            <el-option label="BEIJING" value="BeiJing"></el-option>
                                            <el-option label="SHANGHAI" value="ShangHai"></el-option>
                                        </el-select>
                                    </div>
                            </el-card>
                        </el-form-item>
                        <el-form-item label="Description" prop="description" class="custom-form-item-label">
                            <el-card class="flex-container">
                                    <div class="content-and-button">
                                        <span> The Original quantity in stock for {{modifyForm.Product_Name}} is:
                                        <button @click="showdesc = !showdesc; event.preventDefault();" class="comic-button" type="button" >Edit Description!</button>
                                        <br>
                                        {{modifyForm.Description}}</span>
                                    </div>
                                    <div v-if="showdesc">
                                        <el-input v-if="showdesc" type="textarea" v-model="modifyForm.description" placeholder="Edit Here"></el-input>
                                    </div>
                            </el-card>
                        </el-form-item>
                    </el-form>

                    <span slot="footer" class="dialog-footer">
                        <el-button @click="closeDialog2">Cancle</el-button>
                        <el-button type="primary" @click="validateAndUpdate">Update</el-button>

                    </span>
                 </el-dialog>
                    <el-dialog
                        title="Modify Successful"
                        :visible.sync="updatesuccessDialogVisible"
                        width="50%"
                    >
                    <p>Form updated successfully </p>
                    <div slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="closeupdateSuccessDialog">OK</el-button>
                    </div>
                    </el-dialog>
            </el-main>
        </el-container>
    </el-container>

</div>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                test:1,
                responseData: [],
                url: '/images/contactMe.jpg',
                fill: 'fill',
                queryInfo: {
                    query: '',
                    currentPage: 1,
                    pageSize: 5,
                    totalPage: 20
                },
                addForm: {
                    Product_Name: '',
                    Product_Price: '',
                    Quantity_instock: '',
                    Category: '',
                    Manufacturer: '',
                    Description: '',

                },
                detailForm: {},
                modifyForm: {
                    PID:'',
                    Product_Name: '',
                    Product_Price: '',
                    Quantity_instock: '',
                    Category: '',
                    Manufacturer: '',
                    Description: '',

                },
                filItems: [],
                addDialogVisible: false,
                detailInfoVisible: false,
                modifyDialogVisible: false,
                showname:false,
                showpr:false,
                showquant:false,
                showcat:false,
                showmanu:false,
                showdesc:false,
                fileList: [],
                updatesuccessDialogVisible: false,
                successDialogVisible: false,
                beforeUploadCancelled: true,
                getResponse: null,
                pId: null,
                formRules: {
                    Product_Name: [
                        {required: true, message: 'Please enter the Product Name', trigger: 'blur'},
                    ],
                    Product_Price: [
                        {required: true, validator: this.validateprice, trigger: 'blur'},

                    ],
                    Quantity_instock: [
                        {required: true,validator: this.validateInt, trigger: 'blur'},

                    ],
                    Manufacturer: [
                        {required: true, message: 'Please select the Manufacturer Name', trigger: 'blur'},

                    ],
                    Description: [
                        {required: true, message: 'Please enter the Description', trigger: 'blur'},
                    ],
                    pName: [
                        {required: true, message: 'Please enter the Product Name', trigger: 'blur'},
                    ],
                    price: [
                        {required: true, validator: this.validateprice, trigger: 'blur'},

                    ],
                    quantityInStock: [
                        {required: true,validator: this.validateInt, trigger: 'blur'},

                    ],
                    manufacturer: [
                        {required: true, message: 'Please select the Manufacturer ', trigger: 'blur'},

                    ],
                    description: [
                        {required: true, message: 'Please enter the Description', trigger: 'blur'},
                    ],

                },
                isCollapse: true,
            };
        },
        computed: {
            parsedData() {
                return this.detailForm.data ? JSON.parse(this.detailForm.data) : {};
            }
        },
        mounted() {
            this.getData();
            document.body.style.zoom = '80%';
        },
        methods: {
            getData() {
                axios.get('/product/getAllProducts')
                    .then(response => {

                        console.log('Response from backend:', response.data);
                        this.responseData = response.data.data;
                    })
                    .catch(error => {

                        console.error(error);
                    });
            },
            filterItems() {
                if (this.queryInfo.query === '') {
                    this.getData();
                }
                console.log(this.queryInfo.query);
                this.responseData = this.responseData.filter((i) => {
                    return (i.pId || '').toString().toLowerCase().includes(this.queryInfo.query.toLowerCase()) ||
                        (i.pName || '').toString().toLowerCase().includes(this.queryInfo.query.toLowerCase())
                });
                console.log(this.responseData);
                return this.responseData;
            },
            viewDetail(row) {
                this.detailForm = this.responseData.find(elem => elem.pId === row.pId);
                console.log(this.detailForm);
            },
            deleteItem(row) {
                axios.get('/product/deleteProduct/' + row.pId)
                    .then(() => {
                        this.$message.success('delete success');
                        this.getData();
                    })
                    .catch(error => {
                        console.error(error);
                    });

            },
            modifyItem(row) {
                this.modifyForm = this.responseData.find(elem => elem.pId === row.pId);
                console.log(row.pId);
                if (row.pId !== undefined) {
                    this.modifyForm.PID = row.pId;
                    this.modifyForm.Product_Name = row.pName;
                    this.modifyForm.Product_Price = row.price;
                    this.modifyForm.Quantity_instock = row.quantityInStock;
                    this.modifyForm.Manufacturer = row.manufacturer;
                    this.modifyForm.Category = row.category;
                    this.modifyForm.Description = row.description;
                }

            },
            handleCurrentChange(newPage) {
                this.queryInfo.currentPage = newPage
                this.getData()
                console.log(newPage)
            },
            validateAndSubmit() {
                this.$refs.form.validate((valid) => {
                    if (valid) {

                        this.submitForm();
                    } else {

                        console.log('Form validation failed');
                    }
                });
            },
            submitForm() {
                const postData = {
                    pName: this.addForm.Product_Name,
                    category: this.addForm.Category,
                    quantityInStock: this.addForm.Quantity_instock,
                    price: this.addForm.Product_Price,
                    description: this.addForm.Description,
                    manufacturer:this.addForm.Manufacturer
                };
                console.log(postData);

                axios.post('/product/insertProduct', postData)
                    .then(response => {
                        console.log('Response from backend:', response.data);
                        this.getResponse = response.data.data;
                        this.showSuccessDialog();
                        this.addDialogVisible = false;
                        this.$refs.form.resetFields();
                        this.getData();
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            validateAndUpdate() {
                this.$refs.newform.validate((valid) => {
                    if (valid) {
                        this.updateForm();
                    } else {
                        console.log('Form validation failed');
                    }
                });
            },

            updateForm() {
                const newData = {
                    pId: this.modifyForm.pId,
                    pName: this.modifyForm.pName,
                    category: this.modifyForm.category,
                    price: this.modifyForm.price,
                    quantityInStock: this.modifyForm.quantityInStock,
                    description: this.modifyForm.description,
                };
                /*if (this.modifyForm.gender !== "") {
                    newData.gender = this.modifyForm.gender;
                }
                */

                console.log(newData);

                axios.post('/product/modifyProduct', newData)
                    .then(response => {

                        console.log('Response from backend:', response.data);
                        this.showupdateSuccessDialog();
                        this.modifyDialogVisible = false;
                        this.$refs.newform.resetFields();
                        this.getData()
                    })
                    .catch(error => {

                        console.error(error);
                    });

            },
            showSuccessDialog() {
                this.successDialogVisible = true;
            },
            showupdateSuccessDialog() {
                this.updatesuccessDialogVisible = true;
            },
            closeSuccessDialog() {
                this.successDialogVisible = false;
            },
            closeupdateSuccessDialog() {
                this.updatesuccessDialogVisible = false;
            },
            closeDialog() {
                this.addDialogVisible = false;
            },
            closeDialog2() {
                this.modifyDialogVisible = false;
            },
            beforeUpload(file) {
                if (this.beforeUploadCancelled) {
                    this.beforeUploadCancelled = false;
                }
                return false;
            },
            handleRemove() {

                if (this.beforeUploadCancelled) {
                    this.fileList = [];
                } else {
                    this.beforeUploadCancelled = true;
                }
            },
            handlePreview() {
                var event = new MouseEvent('click');
                const tempData = {
                    Product_Name: "temp",
                    Category : "shoe",
                    Description : "temp",
                    md5: null,
                    token: null,
                    sessionId: null,
                };
                axios.post('/product/insertProduct', tempData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
            },
            validateInt(rule, value, callback) {
                if (value === '') {
                    callback();
                } else {
                    const isNumber = /^[0-9]*$/.test(value);
                    if (isNumber) {
                        const numericValue = parseInt(value, 0);
                        if (numericValue >= 1 && numericValue <= 30000) {
                            callback();
                        } else {
                            callback(new Error('The input must be an integer between 0 and 30000'));
                        }
                    } else {
                        callback(new Error('The input must be a number'));
                    }
                }
            },
            validateprice(rule, value, callback) {
                if (value === '') {
                    callback();
                } else {
                    const isNumber = /^[0-9]+(\.[0-9]+)?$/.test(value);
                    if (isNumber) {
                        const numericValue = parseFloat(value);
                        if (numericValue > 0 && numericValue <= 30000) {
                            callback();
                        } else {
                            callback(new Error('The input must be between 0 and 30000'));
                        }
                    } else {
                        callback(new Error('The input must be a number'));
                    }
                }
            }
        }
    });
</script>
</body>
</html>
<style>
    .fixed-aside {
        position: fixed;
        z-index: 1;
        top: 40px;
        left: 0;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .el-radio-button__inner {
        width: 100%;
    }

    .el-main {
        height: 800px;

        color: #333;
        text-align: left;
        line-height: 50px;
    }

    .el-header, .el-footer {

        color: #333;
        text-align: center;
        display: flex; /* Use flexbox */
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
        line-height: 90px;
        font-size: 30px;
        letter-spacing: 0px;
    }

    .el-card-body {
        width: 100%;
    }
    .el-upload-list__item-name [class^=el-icon] {
        height: 5%;
        margin-right: 7px;
        color: #909399;
        line-height: inherit;
    }
    .custom-form-item-label .el-form-item__label {
        margin-top: 20px;
    }
    body {
        font-family: 'Roboto', sans-serif;
    }
    .btn {
        padding: 1.1em 2em;
        background: none;
        border: 2px solid #fff;
        font-size: 15px;
        color: #131313;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: all 0.3s;
        border-radius: 12px;
        background-color: #ecd448;
        font-weight: bolder;
        box-shadow: 0 2px 0 2px #000;
    }

    .btn:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 120%;
        background-color: #ff6700;
        top: 50%;
        transform: skewX(30deg) translate(-150%, -50%);
        transition: all 0.5s;
    }

    .btn:hover {
        background-color: #4cc9f0;
        color: #fff;
        box-shadow: 0 2px 0 2px #0d3b66;
    }

    .btn:hover::before {
        transform: skewX(30deg) translate(150%, -50%);
        transition-delay: 0.1s;
    }

    .btn:active {
        transform: scale(0.9);
    }
    .flex-container {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        flex-direction: column;
        border-radius:20px;
    }
    .content-and-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card {
        cursor: pointer;
        background: rgb(255, 255, 255);
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 255, .2);
        transition: all .2s;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    }

    .card:hover {
        box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
    }
    .group {
        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 500px;
    }

    .input {
        width: 900px;
        height: 40px;
        line-height: 28px;
        padding: 0 1rem;
        padding-left: 2.5rem;
        border: 2px solid transparent;
        border-radius: 8px;
        outline: none;
        background-color: #f3f3f4;
        color: #0d0c22;
        transition: 0.3s ease;
    }

    .input::placeholder {
        color: #9e9ea7;
    }

    .input:focus,
    input:hover {
        outline: none;
        border-color: rgba(0, 48, 73, 0.4);
        background-color: #fff;
        box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
    }
    .icon {
        position: absolute;
        left: 1rem;
        fill: #9e9ea7;
        width: 1rem;
        height: 1rem;

    }
    .comic-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #ff5252;
        border: 2px solid #000;
        border-radius: 10px;
        box-shadow: 5px 5px 0px #000;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .comic-button:hover {
        background-color: #fff;
        color: #ff5252;
        border: 2px solid #ff5252;
        box-shadow: 5px 5px 0px #ff5252;
    }

    .comic-button:active {
        background-color: #fcf414;
        box-shadow: none;
        transform: translateY(4px);
    }



</style>